@import url('https://fonts.googleapis.com/css2?family=Oregano:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

@font-face {
    font-family: 'Sundanese Unicode';
    src: url("/assets/font/SundaneseUnicode-2.0.ttf") format('truetype');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

.container {
    width: 80%;
    margin: 0 auto;
}

.homepage {
    background:linear-gradient(0deg, rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35)), url("../assets/images/image-1.jpg") no-repeat center;
    background-size: cover;
    width: 100%;
    height: 100vh;
    padding: 20px;
}

.homepage-title {
    font-family: 'Oregano', cursive;
    color: #6A4D1A;
    font-size: 5rem;
    text-align: center;
    text-shadow:
        -1px -1px 0 #FFFFFF,  
        1px -1px 0 #FFFFFF,
        -1px 1px 0 #FFFFFF,
        1px 1px 0 #FFFFFF;
}

.homepage-sundanese {
    font-family: 'Sundanese Unicode';
    text-align: center;
    font-size: 2.5rem;
    color: #6A4D1A;
    text-shadow:
        -1px -1px 0 #FFFFFF,  
        1px -1px 0 #FFFFFF,
        -1px 1px 0 #FFFFFF,
        1px 1px 0 #FFFFFF;
}

.box-container {
    display: flex;
    justify-content: space-around;
    margin-top: 4rem;
    flex-wrap: wrap;
}

.box {
    width: 190px;
    height: 190px;
    background-color: #6A4D1A;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}

.inner-box {
    width: 160px;
    height: 160px;
    background-color: #E2BA74;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 5px solid #462E05;
}

.box-title {
    font-family: 'Oregano', cursive;
    color: #6A4D1A;
    font-size: 2.5rem;
    text-align: center;
    text-shadow:
        -1px -1px 0 #FFFFFF,  
        1px -1px 0 #FFFFFF,
        -1px 1px 0 #FFFFFF,
        1px 1px 0 #FFFFFF;
    margin-top: 1rem;
}

.video-page {
    background:linear-gradient(0deg, rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35)), url("../assets/images/image-2.jpg") no-repeat center;
    background-size: cover;
    width: 100%;
    /* height: 100vh; */
    padding: 0.5rem;
}

.navbar {
    height: 8vh;
    background-color: #E2BA74;
    border-radius: 5px;
    border: 3px solid #462E05;
    font-family: 'Oregano', cursive;
    z-index: 5;
}

.navbar-menu {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    height: 100%;
}

.navbar-menu li a{
    margin: 50px;
    text-decoration: none;
    color: #6A4D1A;
    font-size: 1.5rem;
    font-family: 'Oregano', cursive;
}

.navbar-menu li .active{
    color: #FFFFFF;
}

.video {
    margin-top: 40px;
}

.video-title {
    text-align: center;
    font-size: 3.2rem;
    font-family: 'Oregano', cursive;
    color: #6A4D1A;
    text-shadow:
        -1px -1px 0 #FFFFFF,  
        1px -1px 0 #FFFFFF,
        -1px 1px 0 #FFFFFF,
        1px 1px 0 #FFFFFF;
    margin-top: 1rem;
}

.video-player-box {
    width: 80%;
    background-color: #E2BA74;
    border: 3px solid #462E05;
    margin: 0 auto;
    padding: 1.2rem;
    border-radius: 10px;
    margin-top: 15px;
}

.video-player {
    z-index: 1;
    width: 100%;
    border-radius: 10px;
    background-color: #E2BA74;
    border: 3px solid #462E05;
}

.materi-page {
    background:linear-gradient(0deg, rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35)), url("../assets/images/image-3.jpg") no-repeat center;
    background-size: cover;
    width: 100%;
    height: 100vh;
    padding: 0.5rem;
}
.materi-title {
    text-align: center;
    font-size: 3.2rem;
    font-family: 'Oregano', cursive;
    color: #6A4D1A;
    text-shadow:
        -1px -1px 0 #FFFFFF,  
        1px -1px 0 #FFFFFF,
        -1px 1px 0 #FFFFFF,
        1px 1px 0 #FFFFFF;
    margin-top: 50px;
}
.materi-list-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    justify-items: center;
    margin-top: 20px;
    gap: 20px;
}
.materi-list-box {
    width: 280px;
    height: 180px;
    background-color: #6A4D1A;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}
.materi-list-box-inner {
    width: 250px;
    height: 150px;
    background-color: #E2BA74;
    border-radius: 10px;
    border: 4px solid #462E05;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.materi-list-title {
    font-family: 'Oregano', cursive;
    font-size: 1.5rem;
    color: #462E05;
}
.materi-list-aksara {
    font-family: 'Sundanese Unicode';
    font-size: 1.5rem;
    color: #462E05;
}
.aksara-swara-page {
    background:linear-gradient(0deg, rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35)), url("../assets/images/image-4.jpg") no-repeat center;
}
.aksara-ngalagena-page {
    background:linear-gradient(0deg, rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35)), url("../assets/images/image-5.jpg") no-repeat center;
}
.aksara-wilangan-page {
    background:linear-gradient(0deg, rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35)), url("../assets/images/image-6.jpg") no-repeat center;
}
.aksara-rarangken-page {
    background:linear-gradient(0deg, rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35)), url("../assets/images/image-7.jpg") no-repeat center;
}
.aksara-swara-page, 
.aksara-ngalagena-page,
.aksara-wilangan-page, 
.image-rarangken-page {
    background-size: cover;
    width: 100%;
    padding: 0.5rem;
}
.aksara-materi-title {
    text-align: center;
    font-size: 3.2rem;
    font-family: 'Oregano', cursive;
    color: #6A4D1A;
    text-shadow:
        -1px -1px 0 #FFFFFF,  
        1px -1px 0 #FFFFFF,
        -1px 1px 0 #FFFFFF,
        1px 1px 0 #FFFFFF;
    margin-top: 1rem;
}
.aksara-materi-container {
    width: 90%;
    background-color: #6A4D1A;
    margin: 2rem auto;
    border-radius: 10px;
    padding: 1rem;
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    color: #462E05;
}
.aksara-materi-inner {
    width: 100%;
    background-color: #E2BA74;
    padding: 1rem;
    border-radius: 10px;
    border: 5px solid #462E05;
}
.aksara-materi-penjelasan {
    text-align: center;
    margin-top: 1rem;
}
.aksara-materi-aturan {
    padding: 0 2rem;
    margin-top: 1.5rem;
    margin-bottom: 1rem;
}
.aksara-materi-aturan li {
    margin-top: 0.5rem;
}


/* Example */
.row {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 25px;
    padding: 0 3.8rem;
}

/* Create four equal columns that floats next to eachother */
.column {
  width: 25%;
  text-align: center;
  margin-top: 20px;
}

.column img {
    border: 1px solid #E2BA74;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
    .row {
        padding: 0;
    }
  .column {
    -ms-flex: 50%;
    flex: 50%;
    max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    -ms-flex: 100%;
    flex: 100%;
    max-width: 100%;
  }
}

/* The Modal (background) */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  width: 90%;
  max-width: 1200px;
}

/* The Close Button */
.close {
  color: white;
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #999;
  text-decoration: none;
  cursor: pointer;
}

/* Hide the slides by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* Caption text */
.caption-container {
  text-align: center;
  background-color: black;
  padding: 2px 16px;
  color: white;
}

img.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}

img.hover-shadow {
  transition: 0.3s;
}

.hover-shadow:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


@media screen and (max-width: 1000px) {
    .video-page {
        height: 100vh;
    }
}

@media screen and (max-width: 768px) {
    .homepage, .materi-page {
        height: 100%;
    }
    .line1 {
        width: 35px;
        height: 5px;
    }

    .line2 {
        width: 35px;
        height: 5px;
    }
    
    .line3 {
        width: 35px;
        height: 5px;
    }
    .line1, .line2, .line3 {
        background: white;
        margin: 7px;
    }
    .navbar {
        position: relative;
    }
    .mobile-menu {
        z-index: 999;
        position: absolute;
        right: 5%;
        top: 5%;
        cursor: pointer;
    }
    .navbar-menu {
        background-color: #E2BA74;
        outline: 5px solid #462E05;
        height: 70vh;
        width: 100%;
        flex-direction: column;
        justify-content: space-around;
        clip-path: inset(0 0 100% 100% round 0 0 0 25%);
        -webkit-clip-path: inset(0 0 100% 100% round 0 0 0 25%);
        transition:all 0.8s ease-in;
    }
    .navbar-menu li a{
        font-size: 22px;
    }
    .navbar-menu.show {
        clip-path: inset(0 0 100% 100% round 0 0 0 25%);
        -webkit-clip-path: inset(0 0 0 0 round 0 0 0 25%);
    }
    .aksara-swara-container {
        width: 100%;
    }
}